._*
.DS_Store
Makefile.in
Makefile
_build/
build/
aclocal.m4
autom4te.cache/
conf.sh
config.log
config/
configure
m4/
common/config.h.in
common/config.h.in~
.deps/
.libs/
*.lo
*.o
*.la
*.a
lib/cache_sim/config.status
lib/cache_sim/libtool
libtool
modules/hpctoolkit/hpctoolkit_path.h
perfexpert.db.version
tests/run_tests.pl
tools/ct/perfexpert_ct
tools/ct/recognizers/nested_c_loops/lex.yy.c
tools/ct/recognizers/nested_c_loops/nested_c_loops
tools/ct/recognizers/nested_c_loops/y.tab.c
tools/ct/recognizers/nested_c_loops/y.tab.h
tools/ct/transformers/c_loop_interchange/loop_interchange
tools/ct/transformers/c_loop_tiling/loop_tiling
tools/hound/hound
tools/macpo/analyze/macpo-analyze
tools/macpo/inst/macpo
tools/macpo/macpo.sh
tools/memsniffer/memsniffer
tools/perfexpert/perfexpert
tools/perfexpert/perfexpert_setup_db.sh
common/config.h
common/install_dirs.h
common/stamp-h1
config.status
install/
tools/macpo/examples/rose_instrument.c
